//Project Colors
$color-primary: #888333;
$color-purple: #7048E8;

$gray-1: #f4f7f6;
$gray-2: #E6EAEA;
$gray-3: #D4D4D4;
$gray-4: #202121;
$gray-5: #202026;
$gray-6: #272C34;
$gray-7: #20252b;
$gray-8: #7a7a7a;

//Editor colors
$editor-red: #E06C75;
$editor-yellow: #D19A66;
$editor-green: #98C379;
$editor-white: $gray-3;

$border-color: $gray-2;
$text-color: $gray-3;

$body-bg: #202026;

$breakpoints: (
    'sm':   768px,
    'md':   992px,
    'lg':   1200px
) !default;

//Spacing
$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: ();

@for $i from 0 through 3 {
    $spacers: map-merge($spacers, (
        $i: (
        x: $spacer-x * $i,
        y: $spacer-y * $i
        )
    )) 
}

@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
        $length-x:   map-get($lengths, x);
        $length-y:   map-get($lengths, y);

        .#{$abbrev}-a-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
        .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y !important; }
        .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x !important; }
        .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y !important; }
        .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x !important; }

        // Axes
        .#{$abbrev}-x-#{$size} {
        #{$prop}-right:  $length-x !important;
        #{$prop}-left:   $length-x !important;
        }
        .#{$abbrev}-y-#{$size} {
        #{$prop}-top:    $length-y !important;
        #{$prop}-bottom: $length-y !important;
        }
    }
}

@mixin shadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}