@import '_variables';

body {
    font-family: 'Raleway';
    color: $color-purple;
    background-color: $body-bg;
    margin: 0;
    font-size: 18px;
}

#content {
    max-width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-size: 15px;
    font-size: 3rem;
    padding: 0.5rem;

    span {
        font-size: 0.875rem;
        display: block;
        color: #828282;
    }
}

.cookie-consent {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: calc(100% - 16px);
    transform: translateX(-50%);
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.75);
    box-sizing: border-box;

    .cookie-text {
        margin: 0;
        font-size: 0.875rem;
        color: #0f182f;
        margin-right: 1.5rem;
    }

    .cookie-button {
        color: #fff;
        background-color: #0f182f;
        border: 0;
        line-height: 30px;
        padding: 0 20px;
        font-size: 0.9rem;
        font-weight: 300;
        border-radius: 3px;
    }

    @media only screen and (min-width: 600px) {
        max-width: 500px;
    }
}

.gradient-bottom {
    position: fixed;
    bottom: 0;
    height: 5px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 33%);
    width: 100%;
}
