@import "_variables";
@import "_grid";
@import "utilities/normalize";
@import "utilities/reset";
@import "titan";

body {
  background-color: $body-bg;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
}

#main {
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    .info {
        h1 {
        font-size: 60px;
        color: $gray-3;
        font-weight: 600;
        margin-bottom: 10px;
        }

        span {
        font-size: 20px;
        line-height: 26px;
        display: block;
        color: $gray-8;
        }

        @include breakpoint-up(md) {
            .info {
                h1 {
                    font-size: 48px;
                    color: $gray-3;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                span {
                    font-size: 16px;
                    line-height: 18px;
                    display: block;
                    color: #7a7a7a;
                }
            }
        }
    }

    .editor {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: $editor-white;
        margin: 2rem 0;
        font-family: 'Source Code Pro', monospace;
        font-size: 14px;

        &-topbar {
            width: 100%;
            height: 25px;
            background-color: $gray-7;
            position: relative;

            &__buttons {
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);

                .close {
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    display: inline-block;
                    background-color: $editor-red;
                }
            }

            &__title {
                line-height: 25px;
                text-align: center;
                color: $gray-8;
                font-size: 11px;
            }
        }

        &-body {
        display: flex;
        background-color: $gray-6;

            &__sidebar {
                width: 50px;
                border-right: 2px solid $gray-7;

                > div {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.active {
                        border-left: 2px solid;
                    }
                }
            }

            &__content {
                flex: 1;
                position: relative;

                .line-count {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    line-height: 20px;
                    padding: 16px 0;
                    text-align: right;
                    color: $gray-8;
                    padding-right: 8px;
                    width: 30px;
                }

                .console-box {
                    overflow: auto;
                    counter-reset: codeline;
                    position: relative;
                    padding-top: 16px;

                    & > li {
                        position: relative;
                        margin-left: 35px;
                        padding: 0 10px;
                        list-style: none;
                        line-height: 20px;

                        &:first-child {
                            padding-top: 16px;

                            &::before {
                                padding-top: 16px;
                            }
                        }

                        &:last-child {
                            padding-bottom: 16px;
                        }

                        ul {
                            padding-left: 20px;

                            li {
                                list-style: none;
                            }
                        }
                    }
                }
                
            }

            @include breakpoint-up(md) {
                &__sidebar {
                    display: none;
                }

                &__content {
                    overflow: hidden;

                    .console-box {
                        & > li {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        /* Editor color pattern */
        .editor-yellow {
            color: $editor-yellow;
        }
        
        .editor-red {
            color: $editor-red;
        }
        
        .editor-green {
            color: $editor-green;
        }

        .editor-white {
            color: $editor-white;
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.cookie-consent {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: calc(100% - 16px);
  transform: translateX(-50%);
  background: #fff;
  padding: 1rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.75);
  box-sizing: border-box;

  .cookie-text {
    margin: 0;
    font-size: 0.875rem;
    color: #0f182f;
    margin-right: 1.5rem;
  }

  .cookie-button {
    color: #fff;
    background-color: #0f182f;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 3px;
  }

  @media only screen and (min-width: 600px) {
    max-width: 500px;
  }
}

.gradient-bottom {
  position: fixed;
  bottom: 0;
  height: 5px;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 33%);
  width: 100%;
}
