@import '_variables';
@import '_grid';
@import 'utilities/normalize';
@import 'utilities/reset';

body {
    background-color: $body-bg;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

#content {
    max-width: 960px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;

    h1 {
        font-size: 60px;
        color: $gray-3;
        font-weight: 600;
        margin-bottom: 10px;
    }

    span {
        font-size: 20px;
        line-height: 26px;
        display: block;
        color: #7A7A7A;
    }

    @include breakpoint-up(md) {
        h1 {
            font-size: 48px;
            color: $gray-3;
            font-weight: 600;
            margin-bottom: 10px;
        }

        span {
            font-size: 16px;
            line-height: 18px;
            display: block;
            color: #7A7A7A;
        }
    }
}

.editor {
    display: flex;
    background-color: #fbfbfb;
    width: 100%;
    min-height: 80vh;

    &-topbar {
        width: 100%;
        height: 25px;
        background-color: #20252B;
    }

    &-sidebar {
        width: 50px;
        background-color: #333;
    }
}

.cookie-consent {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: calc(100% - 16px);
    transform: translateX(-50%);
    background: #fff;
    padding: 1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.75);
    box-sizing: border-box;

    .cookie-text {
        margin: 0;
        font-size: 0.875rem;
        color: #0f182f;
        margin-right: 1.5rem;
    }

    .cookie-button {
        color: #fff;
        background-color: #0f182f;
        border: 0;
        line-height: 30px;
        padding: 0 20px;
        font-size: 0.9rem;
        font-weight: 300;
        border-radius: 3px;
    }

    @media only screen and (min-width: 600px) {
        max-width: 500px;
    }
}

.gradient-bottom {
    position: fixed;
    bottom: 0;
    height: 5px;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 33%);
    width: 100%;
}
